@font-face {
    font-family: 'RIDIBatang';
    src: url('../font/RIDIBatang.otf') format('otf');
}

@font-face {
    font-family: 'NotoSansKR-SemiBold';
    src: url("../font/NotoSansKR-SemiBold.ttf") format('ttf');
}

.RIDIBatang {
    font-family: 'RIDIBatang', sans-serif;
}

.NotoSansKR-SemiBold{
    font-family: 'NotoSansKR-SemiBold', sans-serif;
}

/*리디바탕은 사용할떄 설명을 써줘야함*/